body{
    font-size: 16px;
}

.Nav_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
}

.logo{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color:hsl(270, 9%, 17%);
}

.Nav_list ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header_{
    background-color: hsl(256, 26%, 20%);
    display: flex;
    color: white;
    position: relative;
    height: 380px;
}

.header_  .header_line{
    padding-top: 50px;
    padding-left: 160px;
}

.header_line button{
    color: white;
    border-color: white;
}

.header_ h1{
    font-size: 40px;
    width: 280px;
    font-weight: 400;
    position: relative;
}

.header_  .img__2{
    position: absolute;
    margin-top: 260px;
    width: 190px;
    height: 350px;
}

.header_ p{
    font-size: 16px;
    position: relative; 
    width: 480px;
}

.header_ .img__{
    position: absolute;
    margin-left: 760px;
    margin-top: 50px;
    width: 500px;
    height: 450px;
}

.header_ .imagee__{
    position: absolute;
    margin-left: 1024px;
    height: 300px;
    width: 400px;
}



button{
    background-color: transparent;
    padding: 5px;
}

.About_us h1{
    font-size: 40px;
    font-weight: 400;
    width: 350px;
    position: relative;
}


.About_us button{
    border-color: white;
    color: white;
    outline: none;
    position: absolute;
    margin-left: 850px;
}


.header_2{
    width: 1100px;
    margin: auto;
    margin-top: 200px;
}

.header_2 h1{
    font-size: 40px;
    font-weight: 400;
}

.header_2   .Advantages_{
    display: flex;
    gap: 3rem;
}


.About_us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: hsl(256, 26%, 20%);
    color: white;
    height: 200px;
    width: 1000px;
    position: relative;
    
}


.About_us img{
    position: absolute;
    margin-left: 712px;
    height: 200px;
   
}


.logo22{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
    margin-bottom: 50px;
    width: 1100px;
    margin: auto;
    position: relative;
}

.main55{
    background-color: hsl(0, 0%, 98%);
    height: 300px;
}


.Main5{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 450px;
}

.Main5 ul{
    list-style: none;
}

.Main5 .head_nav{
    margin-bottom: 20px;
    color: grey;
    font-size: 13px;
}

.main55 .pattern{
    position: absolute;
    height: 190px;
    width: 500px;
}
