body{
    padding-left: 40px;
    padding-right: 40px;
}

.Nav_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color:hsl(270, 9%, 17%);
}

.Nav_list ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header_{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header_line h1{
    font-size: 40px;
    font-weight: 400;
}

.header_2{
    margin-top: 200px;
}

.header_2   .Advantages_{
    display: flex;
}


.radius{
   border-width: 2px;
   border-style: solid;
}

.About_us{
    display: flex;
    align-items: center;
    margin-left: 320px;
    gap: 7rem;
    margin-top: 20px;
}


.logo22{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.Main5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;

    
}

